In [1]:
from PyDRP.Data.transfer.proteins import STRINGInterface, STRINGPseudomonas, get_species_STRING

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
ppl = STRINGPseudomonas()
data_pseudomonas = ppl.preprocess()

In [3]:
species_STRING = get_species_STRING()
species_STRING

,#taxon_id,STRING_type,STRING_name_compact,official_name_NCBI,domain
0,23,mapped,Shewanella colwelliana,Shewanella colwelliana,Bacteria
1,48,mapped,Archangium gephyra,Archangium gephyra,Bacteria
2,52,mapped,Chondromyces crocatus,Chondromyces crocatus,Bacteria
3,54,mapped,Nannocystis exedens,Nannocystis exedens,Bacteria
4,69,mapped,Lysobacter enzymogenes,Lysobacter enzymogenes,Bacteria
...,...,...,...,...,...
14089,2518989,mapped,Halieaceae bacterium IMCC3088,Halieaceae bacterium IMCC3088,Bacteria
14090,2562755,mapped,Metschnikowia sp. JCM 33374,Metschnikowia sp. JCM 33374,Eukaryota
14091,2587831,mapped,Terrapene carolina triunguis,Terrapene carolina triunguis,Eukaryota
14092,2594813,mapped,Fusarium fasciculatum,Fusarium fasciculatum,Eukaryota
14093,2656787,mapped,Venustampulla echinocandica,Venustampulla echinocandica,Eukaryota

In [4]:
ppl = STRINGInterface(name = "Shewanella", organism_id = 23)

In [5]:
ppl.preprocess()

           PROTEIN_ID      PROTEIN_ID    Y
0      23.BEL05_00025  23.BEL05_07000  728
2      23.BEL05_00025  23.BEL05_10540  939
4      23.BEL05_00025  23.BEL05_10550  850
6      23.BEL05_00025  23.BEL05_10565  763
8      23.BEL05_00025  23.BEL05_10595  856
...               ...             ...  ...
36844  23.BEL05_20630  23.BEL05_20640  992
36846  23.BEL05_20630  23.BEL05_20645  988
36848  23.BEL05_20635  23.BEL05_20640  977
36850  23.BEL05_20635  23.BEL05_20645  983
36852  23.BEL05_20640  23.BEL05_20645  999

[18427 rows x 3 columns]

In [6]:
protein_df = ppl.get_proteins()

In [7]:
protein_df

                Unnamed: 0                                           SEQUENCE
PROTEIN_ID
23.BEL05_00025           0  MSLPRCNSYYNATINQETDFDQLQGEVDVDVVIIGGGFTGVATAVE...
23.BEL05_00030           1  MNQVLCDGMPITPSKIVCVGRNYVEHIKELNNDVPEQMVLFVKPNS...
23.BEL05_00035           2  MNLTIIVGVIAVLYVSLLFLLAWGAERWFGGITKKIQTWIYGLSLA...
23.BEL05_00040           3  MSTQSLYKVPSDIANQAHINEEQYKKMYQESVVNPEGFWREHGQRI...
23.BEL05_00045           4  MQLRDYQQQSVDAAINHFKVSNDSAVLVLPTGAGKSIVIAELARIA...
...                    ...                                                ...
23.BEL05_20635        3997  MNHLLSIKALSKQQLLEILSLAKEIKTNPAQYRKALDGKSVVMLFE...
23.BEL05_20640        3998  MSLEKKPLVLKVGGALLQCEMGMARLMSAAAAMINKGQSVIMVHGG...
23.BEL05_20645        3999  MKNIAIIGASGYTGAQITALIKADENLAIQGLYVSENSLDKGKSLA...
23.BEL05_20650        4000  MADMYASLRSNVGTLGQILGDTIRTHLDEPFLDKIEQIRHLAKSSR...
23.BEL05_20660        4002  MKIEMICTGEEVLSGQIIDTNAAWAANALMNQGIEMQQRITVGDRL...

[2545 rows x 2 columns]